<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutadmin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Management</title>
</head>

<body>
<div class="content" layout:fragment="content">
    <div class="container">
        <div class="grid">
            <div class="row">
                <div class="col">
                    <h2 class="text-center" style="margin-top: 70px;">List Admins</h2>
                </div>
            </div>
            <hr>
            <div class="row">
<!--                <a th:href="@{/showAdminForm}" class="btn btn-primary m-3">Add Admin</a>-->
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped text-center" id="adminTable">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Avatar</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="admin, i: ${admins}">
                            <td th:text="${i.index+1}" />
                            <td><img style="width:80px; height: 60px;" th:src="@{${admin.avatar}}"/></td>
                            <td th:text="${admin.name}" ></td>
                            <td th:text="${admin.phone}" ></td>
                            <td><span th:text="${admin.gender}? 'Male' : 'Female' "></span></td>
                            <td th:text="${admin.address}" ></td>
                            <td th:text="${admin.username}" ></td>
                            <td th:text="${admin.email}" ></td>
                            <td>
                                <a th:href="@{/showFormUpdateAdmin/{id}(id=${admin.id})}" class="btn btn-primary">Update</a>
                                &nbsp;
                                <a th:href="@{/deleteAdmin/{id}(id=${admin.id})}" class="btn btn-danger ml-2">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#adminTable").DataTable({
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1] /* 1st one, start by the right */
                }]
            });
        })
    </script>
</div>
</body>
</html>