<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutadmin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Schedule Management</title>
</head>

<body>
<div class="content" layout:fragment="content">
    <div class="container">
        <div class="grid">
            <div class="row">
                <div class="col">
                    <h2 class="text-center" style="margin-top: 70px;">List Appointment Schedule</h2>
                </div>
            </div>
            <hr>
            <div class="row">
                <a th:href="@{/showNewAppointmentScheduleForm}" class="btn btn-primary m-3">Add Appointment Schedule</a>
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped text-center" id="appointmentScheduleTable">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>OrderDate</th>
                            <th>Specialty Name</th>
                            <th>Time</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="appointmentSchedule, i: ${appointmentSchedules}">
                            <td th:text="${i.index+1}" />
                            <td th:text="${appointmentSchedule.name}" />
                            <td th:text="${appointmentSchedule.phone}" />
                            <td th:text="${appointmentSchedule.orderDate}" />
                            <td th:text="${appointmentSchedule.specialtyId.name}" />
                            <td th:text="${appointmentSchedule.examinationTimeId.name}" />
                            <td th:text="${appointmentSchedule.examinationPriceId.name}" />
                            <td th:text="${appointmentSchedule.orderStatus}" />
                            <td>
                                <a th:href="@{/showFormUpdateAppointmentSchedule/{id}(id=${appointmentSchedule.id})}" class="btn btn-primary">Update</a>
                                <a th:href="@{/deleteAppointmentSchedule/{id}(id=${appointmentSchedule.id})}" class="btn btn-danger ml-2">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#appointmentScheduleTable").DataTable({
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1] /* 1st one, start by the right */
                }]
            });
        })
    </script>
</div>
</body>
</html>