<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutadmin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Schedule</title>
</head>

<body>
<div class="content" layout:fragment="content">
    <div class="container">
        <div class="grid">
            <div class="row">
                <div class="col">
                    <h2 class="text-center" style="margin-top: 70px;">Appointment Schedule List</h2>
                </div>
                <hr>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <a th:href="@{/appointmentSchedules/appointmentSchedules}" class="btn btn-primary">Back</a>
                    </div>
                    <br>
                    <table class="table table-bordered table-striped text-center" id="appointmentScheduleStatusTable">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>OrderDate</th>
                            <th>Specialty Name</th>
                            <th>Time</th>
                            <th>Price</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="status, i: ${appointmentScheduleStatus}">
                            <td th:text="${status.id}" />
                            <td th:text="${status.name}" />
                            <td th:text="${status.phone}" />
                            <td th:text="${status.orderDate}" />
                            <td th:text="${status.specialtyName}" />
                            <td th:text="${status.time}" />
                            <td th:text="${status.price}" />
                            <td th:text="${status.orderStatus}" />
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#appointmentScheduleStatusTable").DataTable({
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1] /* 1st one, start by the right */
                }]
            });
        })
    </script>
</div>
</body>
</html>