<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutadmin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examination Schedule Management</title>
</head>

<body>
<div class="content" layout:fragment="content">
    <div class="container">
        <div class="grid">
            <div class="row">
                <div class="col">
                    <h2 class="text-center" style="margin-top: 70px;">List Examination Schedule</h2>
                </div>
            </div>
            <hr>
            <div class="row">
                <a th:href="@{/showNewExaminationScheduleForm}" class="btn btn-primary m-3">Add Examination Schedule</a>
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped text-center" id="examinationScheduleTable">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Specialty</th>
                            <th>Slot Free</th>
                            <th>Time</th>
                            <th>UpdateDay</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="examinationSchedule, i: ${examinationSchedules}">
                            <td th:text="${i.index+1}" />
                            <td th:text="${examinationSchedule.specialtyId.name}" />
                            <td th:text="${examinationSchedule.slot}" />
                            <td th:text="${examinationSchedule.examinationTimeId.name}" />
                            <td th:text="${examinationSchedule.updatedAt}" />
                            <td>
                                <a th:href="@{/showFormUpdateExaminationSchedule/{id}(id=${examinationSchedule.id})}" class="btn btn-primary">Update</a>
                                &nbsp;
                                <a th:href="@{/deleteExaminationSchedule/{id}(id=${examinationSchedule.id})}" class="btn btn-danger ml-2">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#examinationScheduleTable").DataTable({
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1] /* 1st one, start by the right */
                }]
            });
        })
    </script>
</div>
</body>
</html>