<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutadmin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Schedule</title>
</head>

<body>
<div class="content" layout:fragment="content">
    <div class="container">
        <div class="grid">
            <div class="row">
                <div class="col">
                    <h2 class="text-center" style="margin-top: 70px;">Appointment Schedule List</h2>
                </div>
                <hr>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <a th:href="@{/doctors/countDoctor}" class="btn btn-primary">Back</a>
                    </div>
                    <br>
                    <table class="table table-bordered table-striped text-center" id="doctorDepartmentTable">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Specialty Name</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="doctor, i: ${doctorsDepartment}">
                            <td th:text="${i.index+1}" />
                            <td th:text="${doctor.name}" />
                            <td><span th:text="${doctor.gender}? 'Male' : 'Female' "></span></td>
                            <td th:text="${doctor.nameSpecialty}" />
                            <td><span th:text="${doctor.statusDoctor}? 'Active' : 'Absent' "></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#doctorDepartmentTable").DataTable({
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1] /* 1st one, start by the right */
                }]
            });
        })
    </script>
</div>
</body>
</html>