<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutadmin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Management</title>
</head>

<body>
<div class="content" layout:fragment="content">
    <div class="container">
        <div class="grid">
            <div class="row">
                <div class="col">
                    <h2 class="text-center" style="margin-top: 70px;">List Doctors</h2>
                </div>
            </div>
            <hr>
            <div class="row">
                <a th:href="@{/showDoctorForm}" class="btn btn-primary m-3">Add Doctor</a>
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped text-center" id="doctorTable">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Avatar</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Specialty Name</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="doctor, i: ${doctors}">
                            <td th:text="${i.index+1}" />
                            <td><img style="width:80px; height: 60px;" th:src="@{${doctor.avatar}}"/></td>
                            <td th:text="${doctor.name}" />
                            <td th:text="${doctor.phone}" />
                            <td><span th:text="${doctor.gender}? 'Male' : 'Female' "></span></td>
                            <td th:text="${doctor.address}" />
                            <td th:text="${doctor.specialtyId.name}" />
                            <td><span th:text="${doctor.status}? 'Active' : 'Absent' "></span></td>
                            <td>
                                <a th:href="@{/showFormUpdateDoctor/{id}(id=${doctor.id})}" class="btn btn-primary">Update</a>
                                &nbsp;
                                <a th:href="@{/deleteDoctor/{id}(id=${doctor.id})}" class="btn btn-danger ml-2">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#doctorTable").DataTable({
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1] /* 1st one, start by the right */
                }]
            });
        })
    </script>
</div>
</body>
</html>