body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.sidebar {
    background-color: #343a40;
    position: fixed;
    left: 0;
    width: 280px;
    height: 100%;
}

.sidebar .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    margin-top: 70px;
}

.sidebar h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 40px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background-color: #19B3D3;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #19B3D3;
}

.content {
    margin-left: 250px;
}