.thank-you {
    height: 500px;
    width: 100%;
}

.navbar__content {
    max-width: 1200px;
    margin: auto;
    padding-left: 40px;
    line-height: 40px;
    font-size: 20px;
}

.navbar__content-link {
    text-decoration: none;
    color: var(--black-color);
}

.navbar__content-last {
    color: var(--primary-color);
}

.lined-heading {
    margin: 0 0 50px 0;
}

.thank-text {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
    color: var(--primary-color);
    font-weight: 700;
}