<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinic &nbsp;  Booking-page</title>

    <!-- link ResetCSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/booking.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- icon web -->
    <link rel="icon" href="" type="image/x-icon">
    <!-- link icons -->
    <link rel="stylesheet" th:href="@{/fonts/fontawesome-free-6.1.1/css/all.min.css}">
    <!-- link font chữ -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app">
        <!-- Header -->
        <div class="header" id="navbar">
            <div>
                <nav class="header__navbar navbar">
                    <a th:href="@{/home}">
                        <img th:src="@{/img/logo.png}" alt="" class="header__navbar-img">
                    </a> 
                    <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> 
                    <div id="navbar-menu" aria-labelledby="navbar-toggle">
                        <ul class="header__navbar-list">  
                            <li class="header__navbar-item">
                                <a th:href="@{/home}" class="header__navbar-item-link">Home</a>
                            </li>
                            <li class="header__navbar-item">
                                <a th:href="@{/home/introduce}" class="header__navbar-item-link">Introduce</a>
                            </li>
                            <li class="header__navbar-item">
                                <a th:href="@{/home/specialty}" class="header__navbar-item-link">Specialties</a>
                            </li>
                            <li class="header__navbar-item active1">
                                <a th:href="@{/home/booking}" class="header__navbar-item-link">Booking</a>
                            </li>
                            <li class="header__navbar-item">
                                <a th:href="@{/home/contact}" class="header__navbar-item-link">Contact</a>
                            </li>
                          
                            <div class="header__navbar-line"></div>
                        </ul>
                    </div>
                </nav>
            </div>  
        </div> 

        <div class="app__container">
           <div>
                <div class="grid">
                    <div class="row">
                        <div class="col l-12 m-12 c-12">
                            <nav class="navbar__content">
                                <p>
                                    <a th:href="@{/home}" class="navbar__content-link">Home</a>
                                    <span> &gt; </span>
                                    <span class="navbar__content-last">Booking</span>
                                </p>
                            </nav>                                   
                        </div>
                    </div>
                </div>
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-12 c-12 m-12">
                            <h2 class="lined-heading">
                                <span>MAKE AN APPOINTMENT</span>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l-4 m-12 c-12 ">
                            <div>
                                <div>
                                    <div>
                                        <span class="booking-type"><b>Basic</b></span>
                                    </div>

                                    <div>
                                        <span class="booking-price"><b>25$</b> &nbsp; / session</span>
                                    </div>

                                    <div class="booking-service">
                                        <span class="booking-solution">Diagnostic Services</span>
                                        <span class="booking-solution">Professional Consultation</span>
                                        <span class="booking-solution">Thorough Solution</span>
                                    </div>
                                </div>

                                <hr><br><br>
                                <div>
                                    <div>
                                        <span class="booking-type"><b>Standard</b></span>
                                    </div>

                                    <div>
                                        <span class="booking-price"><b>40$</b> &nbsp; / session</span>
                                    </div>

                                    <div class="booking-service">
                                        <span class="booking-solution">Diagnostic Services</span>
                                        <span class="booking-solution">Professional Consultation</span>
                                        <span class="booking-solution">Thorough Solution</span>
                                    </div>
                                </div>

                                <hr><br><br>
                                <div>
                                    <div>
                                        <span class="booking-type"><b>Premium</b></span>
                                    </div>

                                    <div>
                                        <span class="booking-price"><b>60$</b> &nbsp; / session</span>
                                    </div>

                                    <div class="booking-service">
                                        <span class="booking-solution">Diagnostic Services</span>
                                        <span class="booking-solution">Professional Consultation</span>
                                        <span class="booking-solution">Thorough Solution</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l-1 m-0 c-0"> </div>
                        <div class="col l-6 m-12 c-12">
                            <form th:action="@{/saveAppointmentScheduleInfo}" method="POST" class="form" id="booking-form" name="Form" onsubmit="return validateForm()">
                                <h3 class="heading">Appointment Booking form</h3>
                                <p class="desc">Let's join hands for good health ❤️</p>
                                <div class="spacer"></div>
                                <div class="form-group">
                                    <label for="name" class="form-label">Full name: </label>
                                    <input id="name" name="name" type="text" placeholder="Enter your full name" class="form-control">
                                    <div class="error" id="nameErr"></div>
                                </div>
                                <div class="form-group">
                                    <label for="phone" class="form-label">Phone: </label>
                                    <input id="phone" name="phone" size="10" type="text" placeholder="Enter your phone" class="form-control">
                                    <div class="error" id="phoneErr"></div>
                                </div>

                                <div class="form-group">
                                    <label for="orderDate" class="form-label">Enter a date for medical examination:</label>
                                    <input id="orderDate" name="orderDate" type="text" placeholder="Enter you set your schedule" class="form-control">
                                    <div class="error" id="orderDateErr"></div>
                                </div>

                                <div class="form-group">
                                    <label for="examinationTimeId" class="form-label">Choose time booking schedule:</label>
                                    <select id="examinationTimeId" name="examinationTimeId" class="form-control" >
                                        <option>Choose time booking schedule</option>
                                        <option text="8h:30 - 9h:30" value="1">8h:30 - 9h:30</option>
                                        <option text="9h:30 - 10h:30" value="2">9h:30 - 10h:30</option>
                                        <option text="10h:30 - 11h:30" value="3">10h:30 - 11h:30</option>
                                        <option text="13h:30 - 14h:30" value="4">13h:30 - 14h:30</option>
                                        <option text="14h:30 - 15h:30" value="5">14h:30 - 15h:30</option>
                                        <option text="15h:30 - 16h:30" value="7">15h:30 - 16h:30</option>
                                    </select>
                                    <div class="error" id="examinationTimeIdErr"></div>
                                </div>

                                <div class="form-group">
                                    <label for="specialtyId" class="form-label">Choose Specialty:</label>
                                    <select id="specialtyId" name="specialtyId" class="form-control">
                                        <option>Choose Specialty</option>
                                        <option text="Orthopedic Department" value="1">Orthopedic Department</option>
                                        <option text="Cardiology Department" value="3">Cardiology Department</option>
                                        <option text="Pediatrics Department" value="5">Pediatrics Department</option>
                                        <option text="Testing Center" value="6">Testing Center</option>
                                        <option text="Department of central nervous system" value="7">Department of central nervous system</option>
                                        <option text="Otorhinolaryngology" value="8">Otorhinolaryngology</option>
                                        <option text="Respiratory Medicine" value="9">Respiratory Medicine</option>
                                        <option text="Pharmacy Department" value="10">Pharmacy Department</option>
                                        <option text="Medical Examination Department" value="11">Medical Examination Department</option>
                                        <option text="Fertility Center" value="12">Fertility Center</option>
                                        <option text="Vaccination Center" value="13">Vaccination Center</option>
                                        <option text="Training and Research Center" value="14">Training and Research Center</option>
                                    </select>
                                    <div class="error" id="specialtyIdErr"></div>
                                </div>

                                <div class="form-group">
                                    <label for="examinationPriceId" class="form-label">Choose examination service:</label>
                                    <select id="examinationPriceId" name="examinationPriceId" class="form-control" >
                                        <option>Choose examination service</option>
                                        <option text="Basic: 25$" value="1">Basic: 25$</option>
                                        <option text="Standard: 40$" value="2">Standard: 40$</option>
                                        <option text="Premium: 60$" value="3">Premium: 60$</option>
                                    </select>
                                    <div class="error" id="examinationPriceIdErr"></div>
                                </div>
                                <button class="form-submit">Book an appointment</button>
                            </form>
                        </div>

                        <div class="col l-1 m-0 c-12"> </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>
        <div class="grid wide">
            <div class="row">
                <div class="col l-12 c-12 m-12">
                    <h2 class="lined-heading">
                        <span>CONTACT US</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="booking-image" style="background-image: url(/img/bg_ta2.jpg)">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-12 m-12 c-12">
                        <h2 class="booking-text">Doctor Care Clinic</h2>
                        <h2 class="booking-text">18 Nguyen Huu Tho street, Hoang Liet, Hoang Mai, Ha Noi</h2>
                        <h2 class="booking-text"> Hotline: 19001909</h2>
                    </div>
                </div>
            </div>
        </div>
                
        <!-- Footer -->
        <footer class="footer">
            <div class="grid wide footer__content">
                <div class="row">
                    <div class="col l-3 m-6 c-12">
                        <h3 class="footer__heading">Clinic information</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <span class="footer-item__text">
                                    Address: 18 Nguyen Huu Tho street, <br> Hoang Liet, Hoang Mai, Ha Noi <br>
                                    Hotline: 19001909 <br>
                                    Phone: 024.38618257<br>
                                    Email: ThaoDo@gmail.com
                                </span>
                            </li>
                        </ul>
                    </div>


                    <div class="col l-3 m-6 c-12">
                        <h3 class="footer__heading">Time work</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <span class="footer-item__text">
                                        Working time: <br><br>
                                        Morning: 7h - 12h <br><br>
                                        Afternoon: 13h30 - 18h
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="col l-3 m-6 c-12">
                        <h3 class="footer__heading"> Specialty</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a th:href="@{/home/specialty}" class="footer-item__link">Specialties</a>
                            </li>
                            <li class="footer-item">
                                <a th:href="@{/home/booking}" class="footer-item__link">Booking</a>
                            </li>
                            <li class="footer-item">
                                <a th:href="@{/home/contact}" class="footer-item__link">Contact</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col l-3 m-6 c-12">
                        <h3 class="footer__heading">About Us</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a th:href="@{/home/introduce}" class="footer-item__link">Introduce</a>
                            </li>
                            <li class="footer-item">
                                <a th:href="@{/home/booking}" class="footer-item__link">Booking</a>
                            </li>
                            <li class="footer-item">
                                <a th:href="@{/home/contact}" class="footer-item__link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer__bottom">
                <div class="grid wide">
                    <p class="footer__text">© 2022 - Copyright of Team1 Project</p>
                </div>
            </div>
        </footer>
    </div> 

    <script th:src="@{/js/base.js}"></script>
    <script th:src="@{/js/booking.js}"></script>
 
</body>
</html>