<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinic &nbsp;  Home-page</title>

    <!-- link ResetCSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- icon web -->
    <link rel="icon" href="" type="image/x-icon">
    <!-- link icons -->
    <link rel="stylesheet" th:href="@{/fonts/fontawesome-free-6.1.1/css/all.min.css}">
    <!-- link font chữ -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app">
        <!-- Header -->
        <div class="header" id="navbar">
            <div>
                <nav class="header__navbar navbar">
                    <a th:href="@{/home}">
                        <img th:src="@{/img/logo.png}" alt="" class="header__navbar-img">
                    </a> 
                    <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> 
                    <div id="navbar-menu" aria-labelledby="navbar-toggle">
                        <ul class="header__navbar-list">  
                            <li class="header__navbar-item active1">
                                <a th:href="@{/home}" class="header__navbar-item-link">Home</a>
                            </li>
                            <li class="header__navbar-item">
                                <a th:href="@{/home/introduce}" class="header__navbar-item-link">Introduce</a>
                            </li>
                            <li class="header__navbar-item">
                                <a th:href="@{/home/specialty}" class="header__navbar-item-link">Specialties</a>
                            </li>
                            <li class="header__navbar-item">
                                <a th:href="@{/home/booking}" class="header__navbar-item-link">Booking</a>
                            </li>
                            <li class="header__navbar-item">
                                <a th:href="@{/home/contact}" class="header__navbar-item-link">Contact</a>
                            </li>
                            
                                                     
                            <div class="header__navbar-line"></div>
                        </ul>
                    </div>
                </nav>
            </div>  
        </div> 

        <div class="app__container">
            <div class="slide">
                <div class="slide-show slide-fade">
                    <img th:src="@{/img/slide1.png}" class="slide-img" alt="">
                    <div class="slide-text">Welcome to Doctor Care Clinic</div>
                    <div class="slogan">Because we care about you</div>                    
                </div>
    
                <div class="slide-show slide-fade">
                    <img th:src="@{/img/slide2.png}" class="slide-img" alt="">
                    <div class="slide-text">Welcome to Doctor Care Clinic </div>
                    <div class="slogan">Because we care about you</div>                    
                </div>

                <div class="slide-show slide-fade">
                    <img th:src="@{/img/slide3.jpg}" class="slide-img" alt="">
                    <div class="slide-text">Welcome to Doctor Care Clinic </div>
                    <div class="slogan">Because we care about you</div>                    
                </div>
                <a class="slide-icon prev" onclick="plusSlides(-1)">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
                <a class="slide-icon next" onclick="plusSlides(1)">
                    <i class="fa-solid fa-angle-right"></i>
                </a>

                <div style="text-align: center;">
                    <span class="slide__line" onclick="currentSlide(1)"></span>
                    <span class="slide__line" onclick="currentSlide(2)"></span>
                    <span class="slide__line" onclick="currentSlide(3)"></span>
                </div>
            </div>
                     
            <div class="grid wide">
                <div class="row">
                    <div class="col l-12 m-12 c-12 mt-heading">
                        <h1 class="mt-heading-text">WELCOME TO Doctor Care CLINIC</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col l-12 m-12 c-12">
                        <h2 class="lined-heading">
                            <span>Industry experts</span>
                        </h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col l-4 m-4 c-12">
                        <div class="doctor_container">
                            <img th:src="@{/img/doctor/NguyenVietTien.png}" alt="" class="doctor__container-img">
                            <div class="doctor__container-text">Doctor Nguyen Viet Tien</div>
                            <a th:href="@{/home/specialty}" class="doctor__container-link">
                                <button type="submit" class="doctor__container-btn">View details</button>
                            </a>
                        </div>
                    </div>

                    <div class="col l-4 m-4 c-12">
                        <div class="doctor_container">
                            <img th:src="@{/img/doctor/bshuynhngoclong.png}" alt="" class="doctor__container-img">
                            <div class="doctor__container-text">Doctor Huynh Ngoc Long</div>
                            <a th:href="@{/home/specialty}" class="doctor__container-link">
                                <button type="submit" class="doctor__container-btn">View details</button>
                            </a>
                        </div>
                    </div>

                    <div class="col l-4 m-4 c-12">
                        <div class="doctor_container">
                            <img th:src="@{/img/doctor/MacLanHuong.png}" alt="" class="doctor__container-img">
                            <div class="doctor__container-text">Doctor Mac Lan Huong</div>
                            <a th:href="@{/home/specialty}" class="doctor__container-link">
                                <button type="submit" class="doctor__container-btn">View details</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">            
                    <div class="col l-12 m-12 c-12">
                        <h2 class="lined-heading">
                            <span>Specializations</span>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col l-3 m-6 c-12">
                        <div class="dept_container">
                            <img th:src="@{/img/dept/khoachanthuongchinhhinh.png}" alt="" class="dept__container-img">
                            <div class="dept__container-text">Orthopedic Department</div>
                            <a th:href="@{/home/specialty}" class="dept__container-link">
                                <button type="submit" class="dept__container-btn">View details</button>
                            </a>
                        </div>
                    </div>  

                    <div class="col l-3 m-6 c-12">
                        <div class="dept_container">
                            <img th:src="@{/img/dept/khoatimmach.png}" alt="" class="dept__container-img">
                            <div class="dept__container-text">Cardiology Department</div>
                            <a th:href="@{/home/specialty}" class="dept__container-link">
                                <button type="submit" class="dept__container-btn">View details</button>
                            </a>
                        </div>
                    </div>  

                    <div class="col l-3 m-6 c-12">
                        <div class="dept_container">
                            <img th:src="@{/img/dept/trungtamxetnghiem.png}" alt="" class="dept__container-img">
                            <div class="dept__container-text">Testing Center</div>
                            <a th:href="@{/home/specialty}" class="dept__container-link">
                                <button type="submit" class="dept__container-btn">View details</button>
                            </a>
                        </div>
                    </div>  

                    <div class="col l-3 m-6 c-12">
                        <div class="dept_container">
                            <img th:src="@{/img/dept/khoanhi.png}" alt="" class="dept__container-img">
                            <div class="dept__container-text">Pediatrics Department</div>
                            <a th:href="@{/home/specialty}" class="dept__container-link">
                                <button type="submit" class="dept__container-btn">View details</button>
                            </a>
                        </div>
                    </div>  
                </div>

                <div class="row">            
                    <div class="col l-12 m-12 c-12">
                        <h2 class="lined-heading">
                            <span>SERVICE AT CLINIC</span>
                        </h2>
                    </div>
                </div>
                <div class="row box-service">
                    <div class="col l-3 m-3 c-12">
                        <div class="box-icon">
                            <img th:src="@{/img/service/service1.webp}" class="box-img">
                            <h3>Booking</h3>
                            <p>Book through the website <br> or hotline: 19001909.</p>
                        </div>
                    </div>

                    <div class="col l-3 m-3 c-12">
                        <div class="box-icon">
                            <img th:src="@{/img/service/service2.webp}" class="box-img">
                            <h3>Welcome</h3>
                            <p>Receptionist check information
                                you have registered, print the examination card &
                                examination instructions.</p>
                        </div>
                    </div>

                    <div class="col l-3 m-3 c-12">
                        <div class="box-icon">
                            <img th:src="@{/img/service/service3.webp}" class="box-img">
                            <h3>Medical examination</h3>
                            <p>You will be examined by leading doctors.</p>
                        </div>
                    </div>

                    <div class="col l-3 m-3 c-12">
                        <div class="box-icon">
                            <img th:src="@{/img/service/service4.webp}" class="box-img">
                            <h3>Post-examination care</h3>
                            <p>Customer care staff will call to visit, remind the appointment, receive feedback after examination.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="call-to-action">
                <div class="grid wide">
                    <div class="row">
                        <div class="col l-10 m-10 c-12">
                            <h2 class="call-to-text"> Make an appointment and use our service</h2>
                            <h2 class="call-to-text"> Hotline: 19001909</h2>
                        </div>
                        <div class="col l-2 m-2 c-12 call-action">
                            <a th:href="@{/home/booking}" class="call-action-link">
                                <button class="call-action-btn">Booking</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="grid wide footer__content">
                <div class="row">
                    <div class="col l-3 m-6 c-12">
                        <h3 class="footer__heading">Clinic information</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <span class="footer-item__text">
                                    Address: 18 Nguyen Huu Tho street, <br> Hoang Liet, Hoang Mai, Ha Noi <br>
                                    Hotline: 19001909 <br>
                                    Phone: 024.38618257<br>
                                    Email: ThaoDo@gmail.com
                                </span>
                            </li>                                                                     
                        </ul>  
                    </div>


                    <div class="col l-3 m-6 c-12">
                        <h3 class="footer__heading">Time work</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <span class="footer-item__text">
                                        Working time: <br><br>
                                        Morning: 7h - 12h <br><br>
                                        Afternoon: 13h30 - 18h
                                </span>
                            </li>
                        </ul>  
                    </div>

                    <div class="col l-3 m-6 c-12">
                        <h3 class="footer__heading"> Specialty</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a th:href="@{/home/specialty}" class="footer-item__link">Specialties</a>
                            </li>
                            <li class="footer-item">
                                <a th:href="@{/home/booking}" class="footer-item__link">Booking</a>
                            </li>
                            <li class="footer-item">
                                <a th:href="@{/home/contact}" class="footer-item__link">Contact</a>
                            </li>
                        </ul>  
                    </div>

                    <div class="col l-3 m-6 c-12">
                        <h3 class="footer__heading">About Us</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a th:href="@{/home/introduce}" class="footer-item__link">Introduce</a>
                            </li>
                            <li class="footer-item">
                                <a th:href="@{/home/booking}" class="footer-item__link">Booking</a>
                            </li>
                            <li class="footer-item">
                                <a th:href="@{/home/contact}" class="footer-item__link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer__bottom">
                <div class="grid wide">
                    <p class="footer__text">© 2022 - Copyright of Team1 Project</p>
                </div>
            </div>
        </footer>
    </div> 

    <script th:src="@{/js/base.js}"></script>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>