<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<div class="center">
  <form name="Form" th:action="@{/registerSubmit}" method="post" onsubmit="return validateForm()" >
    <h2>Registration Form</h2>
    <div class="box">
      <label>Username: </label>
      <input type="text" name="username" id="username">
      <div class="error" id="usernameErr"></div>
    </div>
    <div class="box">
      <label>Password: </label>
      <input type="password" name="password" id="password">
      <div class="error" id="passwordErr"></div>
    </div>


    <div class="box">
      <input type="submit" value="Register">
    </div>
  </form>
</div>

<script th:src="@{/js/register.js}"></script>
</body>
</html>