<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutadmin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Management</title>
</head>

<body>
<div class="content" layout:fragment="content">
    <div class="container">
        <div class="grid">
            <div class="row">
                <div class="col">
                    <h2 class="text-center" style="margin-top: 70px;">List Contact</h2>
                </div>
            </div>
            <hr>
            <div class="row">
                <a th:href="@{/showNewContactForm}" class="btn btn-primary m-3">Add Contact</a>
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped text-center" id="contactTable">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Note</th>
                            <th>Create_at</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="contact, i: ${contacts}">
                            <td th:text="${i.index+1}" />
                            <td th:text="${contact.name}" />
                            <td th:text="${contact.phone}" />
                            <td th:text="${contact.email}" />
                            <td th:text="${contact.note}" />
                            <td th:text="${contact.createdAt}" />
                            <td>
                                <a th:href="@{/showFormUpdateContact/{id}(id=${contact.id})}" class="btn btn-primary">Update</a>
                                &nbsp;
                                <a th:href="@{/deleteContact/{id}(id=${contact.id})}" class="btn btn-danger ml-2">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#contactTable").DataTable({
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1] /* 1st one, start by the right */
                }]
            });
        })
    </script>
</div>
</body>
</html>