<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutadmin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Management</title>
</head>
<body>

<div class="content" layout:fragment="content">
    <div class="container">
        <div class="grid">
            <div class="row">
                <div class="col">
                    <h2 class="text-center" style="margin-top: 70px;">Add new Contact</h2>
                </div>
            </div>
            <hr>
            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4" style="padding: 30px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 10px">
                    <form action="#" th:action="@{/saveContact}" th:object="${contacts}" method="POST" novalidate="novalidate">
                        <input type="hidden" th:field="*{id}" />
                        <br>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" id="name" class="form-control" th:field="*{name}" />
                            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone:</label>
                            <input type="text" id="phone" class="form-control" th:field="*{phone}" />
                            <div style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" class="form-control" th:field="*{email}" />
                            <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>
                        <div class="form-group">
                            <label for="note">Note:</label>
                            <textarea type="text" id="note" rows="5" class="form-control" th:field="*{note}" ></textarea>
                            <div style="color: red" th:if="${#fields.hasErrors('note')}" th:errors="*{note}"></div>
                        </div>
                        <div style="display: flex; justify-content: space-between">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button class="btn btn-primary active">
                                <a th:href="@{/contacts/contacts}" class="text-white" role="button">Back</a>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>