<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutadmin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examination Day Management</title>
</head>

<body>
<div class="content" layout:fragment="content">
    <div class="container">
        <div class="grid">
            <div class="row">
                <div class="col">
                    <h2 class="text-center" style="margin-top: 70px;">List Examination Day</h2>
                </div>
            </div>
            <hr>
            <div class="row">
                <a th:href="@{/showNewExaminationDayForm}" class="btn btn-primary m-3">Add Examination Day</a>
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped text-center" id="examinationDayTable">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="examinationDay, i: ${examinationDays}">
                            <td th:text="${i.index+1}" />
                            <td th:text="${examinationDay.name}" />
                            <td>
                                <a th:href="@{/showFormUpdateExaminationDay/{id}(id=${examinationDay.id})}" class="btn btn-primary">Update</a>
                                &nbsp;
                                <a th:href="@{/deleteExaminationDay/{id}(id=${examinationDay.id})}" class="btn btn-danger ml-2" onclick="return confirm('Do you really want to delete data?')">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#examinationDayTable").DataTable({
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1] /* 1st one, start by the right */
                }]
            });
        })
    </script>
</div>
</body>
</html>